.logo {
    width: 1000px;
    height: 200px;
    background-image: url('logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  .button.dark {
    background-color: #222;
  }
  /* body {
    background-color: #000;
  } */

  #loginDiv {
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 400px;
  }

  /* label{
    color:white;
  } */