  #aboutDiv{
    background-image: url(https://images4.alphacoders.com/102/1029460.jpg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 2vh;
    z-index: 2
  }
  #aboutDiv h1{
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 0 1vw 0;
    border-bottom:  0.2vh solid silver;
    font-size: 6vh;
  }
  #aboutDiv h3{
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 0 1vw 0;
    border-bottom:  0.2vh solid silver;
    font-size: 4vh;
  }
  #aboutDiv p{
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 0 1vw 0;
    border-bottom:  0.2vh solid silver;
    font-size: 3vh;
  }

  #aboutDiv button{
    width: 20%;
    height: 6vh;
    border: 0.2vh solid;
    background: red;
    border-radius: 2vh;
    font-size: 3vh;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
#aboutDiv button:hover{
    background: green;
}
  