#about_us_popup {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black overlay */
    z-index: 999; /* Set a high z-index to make sure the popup is on top of other elements */
  }
  
  #about_us_popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  #closeButton {
    margin-top: 20px;
  }