.center_config{
    background-image: url(https://images4.alphacoders.com/102/1029460.jpg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    
}
.center_config h1{
    text-align: center;
    font-weight: bold;
    padding: 0 0 1vw 0;
    border-bottom:  0.2vh solid silver;
    font-size: 6vh;
}
.center_config form{
    padding: 0 5%;
    box-sizing: border-box;
    overflow: auto;
}

.selector{
    width: 60%;
}

#selectField {
    width: 100%;
    background-color: #c43885;
    padding: 2vw 3vw;
    margin-bottom: 4vh;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.7); */
}
#selectField img{
    width: 3vh;
    transition: transform 0.5s;
}
#list{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.options{
    width: 100%;
    background-color: #747f81;
    padding: 3vw 0 3vh 15vh;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-size: 3vh;
    font-weight: bold;
}
.options img{
    width: 6vh;
    position: absolute;
    top: 3vh;
    left: 5vh;
}
.options:hover{
    background: rgba(57, 117, 67, 0.7);
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
  