/* Footer styles */
.footer {
    background-color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    line-height: 4vh;
    text-align: center;
    /* border-top: 1px solid #ccc; */
  }
  
  .container {
    max-width: 60vh;
    margin: 0 auto;
  }
  
  .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 3vh;
  }
  
  .social-icons img {
    width: 6vh;
    height: 6vh;
  }
  .social-icons span {
    display: block;
    margin-top: 2vh;
  }
  