/* Footer styles */
.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
  }
  
  .container {
    max-width: 120vh;
    margin: 0 auto;
  }
  
  .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 1vh;
  }
  
  .social-icons img {
    width: 2.5vh;
    height: 2.5vh;
  }
  .social-icons span {
    display: block;
    margin-top: 1vh;
  }
  .footer label{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
  }
  