@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html
{
	background-image: url(https://images.pling.com/img/00/00/63/00/40/1662284/747f5fe2a9f88f827009192082476067f10bfe1cf8dc59f69896fdde527647228d94.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game_logo {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.logo_picture {
  height: 30vh;
  width: auto;
}

#welcome_login_button {
  position: fixed;
  top: 60%;
  left: 40%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 3vh 6vh;
  font-size: 4vh;
  font-weight: bold;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2vh;
}

/* Hover effect for the button */
#welcome_login_button:hover {
  background-color: #0056b3;
}

#welcome_register_button {
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 3vh 6vh;
  font-size: 4vh;
  font-weight: bold;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2vh;
}

/* Hover effect for the button */
#welcome_register_button:hover {
  background-color: #0056b3;
}