.center_register{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: white;
    border-radius: 10px;
}
.center_register h1{
    text-align: center;
    font-weight: bold;
    padding: 0 0 1vw 0;
    border-bottom:  0.2vh solid silver;
    font-size: 6vh;
}
.center_register form{
    padding: 0 5%;
    box-sizing: border-box;
}
input[type="date"]{
    width: 100%;
    padding: 0 2vw;
    height: 6vh;
    font-size: 3vh;
    border: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #666;
    font-size: 6vh;
  }